.deselected {
    opacity: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
};


.slicerItem {
    cursor:crosshair;
    position: relative;
    box-shadow:  #00000055 2px 2px 6px;
    border-radius: 5px;
    -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.slicerItem::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow:  #00000055 4px 4px 12px;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.slicerItem:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 100%;

    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
  
.slicerItem:hover::after {
      opacity: 1;
}

